* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(31, 63, 95);
}

header {
    text-align: center;
    font-size: 3rem;
    color: gold;
    z-index: 40;
    margin-bottom: 1rem;
}

.grid {
    display: flex;
    flex-wrap: nowrap;
    height: 40rem;
    width: 40rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    outline-style: solid;
    outline-color: red;
    outline-width: 5rem;
    border-radius: 1rem;
    z-index: 30;
};

.column {

}

.box {
    z-index: 10;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    z-index: 40;
}

button {
    width: 100px;
    font-size: large;
    font-weight: 600;
    background-color: red;
    color: gold;
    border-radius: 20px;
}

.active{
    background-color: gray;
}